.app {
    position: relative;
}

.App-container {
    display: flex;
    position: relative;
    justify-content: center;
    padding-bottom: 10rem;
    flex-direction: column;
}

button img {
    width: 1.5rem;
}