.app {
    position: relative;
}

.App-container {
    display: flex;
    position: relative;
    justify-content: center;
    padding-bottom: 10rem;
    flex-direction: column;
}

#header {
    height: 10vh;
    background-color: var(--orange);
}

#logotype {
    color: white;
    font-size: 1.5rem;
}

#add-button {
    border: none;
    background-color: var(--orange);
    border-radius: 999px;
    padding: 0.5rem;
    position: fixed;
    bottom: 10vh;
    right: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    opacity: 1;
}

#add-button:hover {
    cursor: pointer;
    background-color: var(--orange-hover);
    transition: all 0.3s ease;
}

#add-button svg {
    width: 2.5rem;
    height: auto;
}

.transparent {
    opacity: 0;
}

button img {
    width: 1.5rem;
}

.placeholderLabel {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

input::placeholder,
textarea::placeholder {
    font-weight: 500;
    font-style: italic;
    color: #000;
    opacity: 0.3;
}