@import url('./css/global.css');
@import url('./css/buttons.css');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700;900&family=Work+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

:root {
    --button-size: 42px;
    --border-radius: 0.8rem;
    --grey: #F2F2F1;
    --grey-hover: #E2E2E1;
    --light-grey:#F1F1F1;
    --fill-main: #48484A;
    --charcoal: #555555;
    --orange: #FF8159;
    --orange-hover: #FF6435;
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Serif Pro', 'Work Sans', serif, 'Segoe UI', 'Roboto', sans-serif;
}

h2 {
    font-weight: 700;
    font-size: 1.3rem;
}

h3 {
    font-weight: 500;
    font-size: 0.9rem;
    margin: 1rem 0 0.5rem 0;
    font-family: "Work Sans";
}

p, span {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
    font-family: "Work Sans";
}

input {
    width: 100%;
    border: none;
    height: 2.8rem;
    font-size: 1rem;
    padding: 0.8rem;
    font-weight: 400;
    border-radius: 0.5rem;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

textarea {
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 0.8rem;
    font-weight: 400;
    resize: vertical;
    border-radius: 0.5rem;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

button {
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    min-height: 2.8rem;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}