.ButtonSecondary {
    background-color: transparent;
    color: #000;
    font-family: 'Work Sans';
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.5rem;
    min-width: 8rem;
    min-height: 2.8rem;
    border: none;
    outline: none;
    margin-inline: auto;
}

.ButtonSecondary:hover {
    cursor: pointer;
    background-color: var(--light-grey);
}