.buttonIconText {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    border-radius: 999px;
    padding: 0.5rem;
    transition: all 0.3s ease;
    column-gap: 0.5rem;
}

.buttonIconText span {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 1rem;
    margin-right: 0.3rem;
}

.buttonIconText:hover {
    cursor: pointer;
    background-color: var(--grey-hover);
    transition: all 0.3s ease;
}