.ButtonIconClear {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    border-radius: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.ButtonIconClear:hover {
    cursor: pointer;
    background-color: var(--grey);
    transition: all 0.3s ease;
}