.ButtonTextIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-family: 'Work Sans';
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 0rem 0.6rem 0rem 0.8rem;
    border: 2px solid var(--light-grey);
    min-height: 2.8rem;
    margin-inline: auto;
    white-space: nowrap;
    column-gap: 0.2rem;
}

.ButtonTextIcon:hover {
    cursor: pointer;
    background-color: var(--light-grey);
}

.ButtonTextIcon img {
    width: 1.5rem;
}

.svgIcon {
    display: flex;
}