#searchButton {
    background-color: var(--grey);
}

#searchButton:hover {
    background-color: var(--orange);
}

#searchButton img {
    filter: none;
    transition: all 0.3s ease;
}

#searchButton img:hover {
    filter: invert();
    transition: all 0.3s ease;
}

#searchIcon {
    width: 3rem;
    padding: 0.6rem;
    border-radius: 999px;
    box-sizing: border-box;
}