.ButtonTextIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-family: 'Work Sans';
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 0.4rem 0.5rem 0.4rem 0.9rem;
    border: 2px solid var(--light-grey);
    height: 2.8rem;
    white-space: nowrap;
    column-gap: 0.2rem;
}

.ButtonTextIcon:hover {
    cursor: pointer;
    background-color: var(--light-grey);
}

.ButtonTextIcon img {
    width: 1.5rem;
}