.ButtonTextIcon {
    display: flex;
    align-items: center;
    background-color: transparent;
    font-family: 'Work Sans';
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 0rem 0.5rem 0rem 0.9rem;
    border: 2px solid var(--light-grey);
}

.ButtonTextIcon:hover {
    cursor: pointer;
    background-color: var(--light-grey);
}

.ButtonTextIcon img {
    width: 1.5rem;
}