.ButtonPrimary {
    background-color: var(--orange);
    color: #FFF;
    font-family: 'Work Sans';
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.5rem;
    min-width: 8rem;
    min-height: 2.8rem;
    border: none;
    outline: none;
    margin-inline: auto;
}

.ButtonPrimary:hover {
    cursor: pointer;
    background-color: var(--orange-hover);
}