.CategoryLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.2rem;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 0.8rem;
    padding: 0.3rem 0.3rem 0.3rem 0.7rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--light-grey);
    color: var(--charcoal);
}

.CategoryLabel button {
    border: none;
    display: flex;
    padding: 0.2rem;
    align-items: center;
    border-radius: 0.5rem;
    color: var(--charcoal);
    justify-content: center;
    background-color: transparent;
}

.CategoryLabel button:hover {
    cursor: pointer;
    background-color: var(--light-grey);
}