.CategoryLabel {
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 0.8rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.3rem;
    background-color: var(--light-grey);
    color: var(--charcoal);
}