.image-upload {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 0.5rem;
}

.image-upload .image-preview {
    overflow: hidden;
    border-radius: 1.5rem;
}

.button--image-upload {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}

.custom-file-input {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}