.container--square {
    position: relative;
    width: min(100%, 600px);
    border-radius: 1rem;
    box-sizing: border-box;
    overflow: hidden;
}

.container--square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.container--square .IconButton {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}