.input-container {
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    width: 100%;
}

#categories-container {
    display: flex;
    align-self: flex-start;
    gap: 0.5rem;
}

#suggestions-container {
    position: relative;
    width: 100%;
}