input[type="number"] {
    background-color: var(--light-grey);
    border: none;
    padding: 0.8rem;
    font-family: "Work Sans", serif;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    border-radius: 0.5rem;
    resize: vertical;
}

.inputNumber {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.inputNumber span {
    right: 3rem;
    opacity: 0.3;
    font-weight: 500;
    pointer-events: none;
    position: absolute;
    font-family: 'Work Sans';
}

input[type="number"]:focus {
    outline: 2px solid var(--orange);
    background-color: white;
}