#MethodInput {
    display: flex;
    flex-direction: column;
}

#MethodInput #instruction-container {
    display: flex;
    flex-direction: column;
}

#MethodInput #buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 4rem 0;
}

#MethodInput #buttons-container button {
    margin-inline: 0;
}

.input-method-step {
    margin-bottom: 1.2rem;
}