#new-entry-form {
    width: min(100%, 600px);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    box-sizing: border-box;
    row-gap: 1rem;
    margin-bottom: 10rem;
}

#new-entry-form input[type="text"],
#new-entry-form input[type="number"], 
#new-entry-form textarea {
    background-color: var(--light-grey);
    border: none;
    padding: 0.8rem;
    font-family: "Work Sans", serif;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    border-radius: 0.5rem;
    resize: vertical;
}

#new-entry-form textarea#ingredients {
    border-bottom-right-radius: 0;
    line-height: 2;
}

#new-entry-form input:focus,
#new-entry-form textarea:focus {
    outline: 2px solid var(--orange);
}

.textarea-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.textarea-container.hidden {
    opacity: 0;
}

.textarea-container div {
    position: absolute;
    display: flex;
    align-items: center;
}

.textarea-container div h2 {
    color: #999;
}