.container {
    width: min(100%, 600px);
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem 5rem 1.5rem;
    box-sizing: border-box;
    row-gap: 1rem;
    border: 2px solid var(--grey);
    border-radius: 1.5rem;
    margin: 5rem auto 10rem auto;
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.1));
    background-color: #FFF;
}

.container > #arrowBackButton {
    position: absolute;
    top: -3rem;
    left: 0;
    background-color: transparent;
}

.container > #arrowBackButton:hover {
    cursor: pointer;
    /* color: var(--orange); */
    opacity: 0.5;
    transition: all 0.3s ease;
}

#newEntryForm {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

#newEntryForm input[type="text"],
/* #newEntryForm input[type="number"],  */
#newEntryForm textarea {
    background-color: var(--light-grey);
    border: none;
    padding: 0.8rem;
    font-family: "Work Sans", serif;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    border-radius: 0.5rem;
    resize: vertical;
}

#newEntryForm textarea#ingredients {
    border-bottom-right-radius: 0;
    line-height: 2;
}

#newEntryForm input:focus,
#newEntryForm textarea:focus {
    outline: 2px solid var(--orange);
    background-color: white;
}

.textarea-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.textarea-container.hidden {
    opacity: 0;
}

.textarea-container div {
    position: absolute;
    display: flex;
    align-items: center;
}

.textarea-container div h2 {
    color: #999;
}