.card {
    border-radius: 1.5rem;
    filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.2));
}

.card--recipe {
    max-width: 340px;
    max-height: 560px;

    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(4, min-content);
    background-color: white;

}

.button--card {
    display: block;
    padding: 0;
    text-align: left;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.button--card:hover {
    background-color: var(--light-grey);
    transition: all 0.3s ease-in-out;
}

.card-recipe__title {
    margin: 1rem 0 0.8rem 0;
    padding: 0 1.3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.card-recipe__supporting-text {
    padding: 0 1.3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.card-recipe__tags {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.3rem 1.3rem 1.3rem;
    align-self: end;
}

.card-recipe__tags h3 {
    margin: 0;
    padding: 0;
}